<!DOCTYPE html>
<html>
<head>
  <title>ReactOnRailsWithWebpacker</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
</head>

<body>
<%= yield %>
<%= javascript_pack_tag 'client' %>
<%= javascript_pack_tag 'vendor' %>
<%= redux_store_hydration_data %>
</body>
</html>